.flex{
    display: flex;

}
#box{
    
    margin: 0 auto;
    margin-bottom: 10px;
    color: crimson;
    padding-top: 16px;
   
    width: 44%;
    
    
}
#input_box{
    text-align: center;
}

body{
    
    background-color: rgb(88, 91, 95);
    color: white;
}
#head{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-left: 6%;
    
}
.job_icon{
    width: 30%;
}
.left{
    float: left;
}
.clear{
    clear: left;
}
input,button,select{
    padding: 10px 20px;
    border-radius: 7px;
    margin-left: 10px;
    outline: none;
}